body {
  margin: 0;
  padding:0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}

.navigation  {
  list-style:none;
}

.navigation a {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  list-style: none;
}

.navigation a.active {
  color: #766357;
}

.navigation a:hover {
  color:#81b3d2;
}
.navigation a:active {
  color:rgba(0, 0, 0, 0.3);
}
.intro {
  background-image: url("../img/background-intro.jpg");
  background-repeat: no-repeat;
}
.features-list,
.advice-list {
  list-style:none;
}

.advice-icon-house {
  background-image: url("../img/icon-house.svg");
  width: 75px;
  height: 72px;
}
.advice-icon-food {
  background-image: url("../img/icon-food.svg");
  width:75px;
  height:70px;
}
.advice-icon-gift {
  background-image: url("../img/icon-gift.svg");
  width: 64px;
  height: 77px;
}
.feature-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;

  background-color: inherit;
}
.feature-text {
  line-height: 26px;
  text-align: center;
}
.feature {
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}
.feature h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

}
.feature-blue {
  color: #ffffff;
  background-color: #81b3d2;
}
.advice-list {
  color: #000000;
  background-color: #ffffff;
}
.administration-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color:inherit;
}
.administration-text {
  line-height: 24px;
  text-align: center;
}

.footer-social li {
  list-style: none;
}
.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: inherit;
}
.footer-copyright {
  font-style: normal;
  line-height: 26px;
  color: #000000;
}
.academy-logo {
  display: inline-block;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-htmlacademy-black.svg");
  background-position: center;
}
.academy-logo:hover {
  background-image: url("../img/logo-htmlacademy-blue.svg");
}
.academy-logo:active {
  background-image: url("../img/logo-htmlacademy-gray.svg");

}
.social-button {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}
.social-button.twitter {
  background-image: url("../img/twitter.svg");
}
.social-button.facebook {
  background-image: url("../img/fb-icon.svg")
}

.social-button.youtube {
  background-image: url("../img/youtube.svg")
}

.visually-hidden {
  visibility: hidden;
  font-size: 0;
}

.catalog-item h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.button {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 700;
  color: #ffffff;
}

.button.button-brown {
  background-color: #766357;
}

.button.button-blue {
  background-color: #81b3d2;
}
