body {
  margin: 0;
  padding:0 40px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
a {
  text-decoration: none;
}

.navigation {
  position: relative;
  width:100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation a {
  display: flex;
  align-items: center;
  line-height: 26px;
  min-height: 56px;
  font-weight: 700;
  list-style: none;
  color: #000000;
}

.navigation a:active,
.navigation a:focus {
  color: #766357;
}

.navigation a:hover {
  color: #81b3d2;
}
.main-logo {
  position: absolute;
  top: 0;
  left: calc(50% - 70px);
  z-index: 1;
}
.navigation a:active,
.navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.intro {
  position: relative;
  background-image: url("../img/background-intro.jpg");
  background-repeat: no-repeat;
  height: 511px;
}

.intro::after {
  content: "";
  position: absolute;
  left:0;
  right:0;
  bottom: -3px;
  height: 59px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
}
.intro img {
  display: block;
  margin: 76px auto 0;
}

.features-list,
.advice-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advice-list .advice-item h3 {
  padding-top: 164px;
}
.advice-item {
  width: 33.3%;
  box-sizing: border-box;
  padding-bottom: 87px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

.advice-item p {
  margin-bottom: 0;
}

.advice-item::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
}
.advice-item-house::before {
  top: 60px;
  background-image: url("../img/icon-house.svg");
  width: 75px;
  height: 72px;
}
.advice-item-food::before {
  top: 60px;
  background-image: url("../img/icon-food.svg");
  width: 74px;
  height: 70px;
}
.advice-item-gift::before {
  top: 56px;
  background-image: url("../img/icon-gift.svg");
  width: 64px;
  height: 76px;
}

.feature-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}
.feature-title h3 {
  margin-top: 65px;
}

.feature-text {
  line-height: 26px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 56px;
}
.feature {
  width: 33.3%;
  text-align: center;
  background-color: #eeeeee;
}
.feature h3 {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.feature-blue {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #ffffff;
  background-color: #81b3d2;
}
.feature-blue .feature-content {
  width: 33.33%;
}
.feature-image {
  width: 66.67%;
}
.feature-content {
  min-height: 256px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}
.feature-content p {
  margin-top: 32px;
  margin-bottom: 0;
}
.feature-content h3 {
  margin-bottom: 32px;
}
.feature-image img {
  display: block;
}

.advice-list {
  min-width: 100%;
  background-color: #ffffff;
}
.advice-list p {
  color: #333333;
}
.advice-list h3 {
  color: #333333;
}

.administration-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-top: 57px;
  margin-bottom: 38px;
}
.administration-text {
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
}
.map {
  position: relative;
}
.map img {
  display: block;
}
.search-hotel {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 568px;
  padding: 55px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.search-hotel .input-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
}
.search-hotel .wrapper-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-hotel label,
.search-hotel input::placeholder,
.search-hotel input {
  font-weight: 700;
  line-height: 16px;
  color: #000000;
}

.search-hotel input {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}
.search-hotel input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}
.search-hotel input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.date-field {
  width: 308px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 13px;
  box-sizing: border-box;
}

.button-calendar {
  width: 38px;
  height: 38px;
  font-size: 0;
  border: 0;
  background-color: #f2f2f2;
  background-image: url("../img/calendar-normal.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-calendar:hover {
  background-image: url(../img/calendar-hover.svg);
}

.button-calendar:active {
  background-image: url(../img/calendar-active.svg);
}

.number-field {
  position: relative;
  width: 38px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
}
.button-minus,
.button-plus {
  position: relative;
  width: 38px;
  font-size: 0;
  border: 0;
  background-color: #f2f2f2;
}

.button-minus::before {
  position: absolute;
  left: 13px;
  content: "";
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}
.button-plus::before,
.button-plus::after {
  position: absolute;
  right: 14px;
  content: "";
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.button-plus::after {
  transform: rotate(90deg);
}
.button-plus:hover:before,
.button-plus:hover:after,
.button-minus:hover:before {
  background-color: #000000;
}
.button-plus:active:before,
.button-plus:active:after,
.button-minus:active:before {
  background-color: #81b3d2;
}

.button-search {
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  border:none;
}
.button-search.button-search-brown {
  display: block;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 568px;
  height: 86px;
  background-color: #766357;
  background-position: center;
}
.button-search.button-search-brown:hover {
  background-color: #604e43;
}
.button-search.button-search-brown:active {
  color: rgba(255, 255, 255, 0.3);
}
.button-search.button-search-blue {
  width: 100%;
  height: 58px;
  margin-top:  24px;
  background-color: #81b3d2;
  background-position: center;
}
.button-search.button-search-blue:hover {
  background-color: #669ec0;
}
.button-search.button-search-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
}
.footer-social {
  display: flex;
  justify-content: center;
  margin: 0;
   width: 33.3%;

}
.footer-social li {
  list-style: none;
  margin-right: 6px;
}
.footer-social li:last-child {
  margin-right: 0;
}
.footer-hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
}
.footer-text {
  margin-right: 8px;
  font-style: normal;
  line-height: 26px;
}
.academy-logo {
  display: inline-block;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-htmlacademy-black.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.academy-logo:hover {
  background-image: url("../img/logo-htmlacademy-blue.svg");
}
.academy-logo:active,
.academy-logo:focus {
  background-image: url("../img/logo-htmlacademy-gray.svg");

}
.social-button {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}
.social-button:hover {
  background-color: #669ec0;
}

.social-button:active,
.social-button:focus {
  background-color: #5496bd;
}
.social-button.twitter {
  background-image: url("../img/twitter-normal.svg");
}
.social-button.twitter:active,
.social-button.twitter:focus {
  background-image: url("../img/twitter-active.svg");
}

.social-button.facebook {
  background-image: url("../img/facebook-normal.svg")
}
.social-button.facebook:active,
.social-button.facebook:focus {
  background-image: url("../img/facebook-active.svg");
}

.social-button.youtube {
  background-image: url("../img/youtube-normal.svg")
}

.social-button.youtube:active,
.social-button.youtube:focus {
  background-image: url("../img/youtube-active.svg");
}
.visually-hidden {
  visibility: hidden;
  font-size: 0;
}
.options {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  height: 217px;
  background-position: 50%;
}

.filters {
  display: flex;
  padding-left: 73px;
  padding-right: 73px;
  color: #ffffff;
}
.filters legend {
  margin-bottom:  32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.options label {
  display: block;
  margin-bottom: 23px;
  padding-left: 30px;
}
.filter-input-checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check-box {
  position: absolute;
  width: 23px;
  height: 23px;
  margin-left: -30px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + .check-box {
  background-image: url("../img/checkbox-on.svg");
  width: 27px;
  height: 23px;
}

.filter-input-checkbox:checked:focus + .check-box {
  background-image: url("../img/checkbox-on.svg");
  outline: 2px solid rgb(77, 144, 254);
}

.filter-input-checkbox:focus + .check-box {
  background-image: url("../img/checkbox-off.svg");
  outline: 2px solid rgb(77, 144, 254);
}

.filter-input-checkbox:disabled + .check-box {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:checked:disabled + .check-box {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filters fieldset {
  margin-top: 31px;
  margin-bottom: 31px;
  padding: 0;
  border: none;
}

.filters .filter-infrastructure {
  margin-right: 115px;
}

.filter-cost {
  margin-left: auto;
}
.catalog-item-info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;

}

.catalog-list {
  padding-left: 73px;
  padding-right: 73px;
  list-style: none;
}

.catalog-item-info a {
  flex-basis: 100%;
}
.catalog-item-info {
  margin:0;
}

.catalog-item {
  display: flex;
  align-items: center;
}

.catalog-item h3 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog-item h3:hover {
  color: #81b3d2;
}

.catalog-item h3:active,
.catalog-item h3:focus {
  color: #cacaca;
}

.catalog-category,
.catalog-item-price {
  display: flex;
  flex-direction: column;
  color: #333333;
}

.catalog-item-rating {
  margin-left: auto;
}

.rating {
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
}

.star {
  background-image: url("../img/star.svg");
  display: inline-block;
  width: 18px;
  height: 17px;
}

.sorting {
  display: flex;
  padding-left: 73px;
  padding-right: 73px;
  align-items: center;
  min-height: 86px;
  border-bottom: 1px solid #e5e5e5;
}
.sorting h3 {
  font-size: 21px;
  line-height: 26px;
  margin-right: 49px;
}

.sorting-text {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  display: flex;
  list-style: none;
}

.sorting-item {
  margin-right: 33px;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}
.sorting-item:hover {
  color: #81b3d2;
}
.sorting-item:active {
  color: #000000;
  border-bottom: none;
}
.sorting-item.sorting-item-selected {
  color: #81b3d2;
  border-bottom: none;
}
.amount-sorting {
  margin-left: auto;
}
.triangle-up {
  margin-right: 12px;
  display: inline-block;
  background-image: url("../img/icon-up.svg");
  width: 11px;
  height: 10px;
}

.triangle-up:hover {
  background-image: url("../img/icon-up-black.svg");
}

.triangle-up:active {
  background-image: url("../img/icon-up-blue.svg");
}

.triangle-down {
  display: inline-block;
  background-image: url("../img/icon-down.svg");
  width: 11px;
  height: 10px;
}
.triangle-down:hover {
  background-image: url("../img/icon-down-black.svg");
}

.triangle-down:active {
  background-image: url("../img/icon-down-blue.svg");
}

.button {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 700;
  color: #ffffff;
}

.button.button-brown {
  background-color: #766357;
}
.button.button-brown:hover {
  background-color: #604e43;
  margin-right: 0;
}

.button.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #604e43;
}

.button.button-blue {
  background-color: #81b3d2;
  margin-right: 6px;
}

.button.button-blue:hover {
  background-color: #5496bd;
}

.button.button-blue:active,
.button.button-blue:focus {
  color: rgba(255, 255, 255, 0.3);
}
